# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
yarn.lock

# Firebase cache
.firebase/

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# assets
public/

# dotenv environment variables file
.env
# local env files
.env*.local

# next.js
.next/
out/

# production
/build

# misc
.DS_Store

.pnp/
.pnp*
