@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://fonts.google.com/specimen/Karla?query=karla */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');

@layer base {
  body {
    @apply bg-gray-50 text-[#1f2937];
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  hr {
    @apply my-2 border-0 border-t-2 border-amber-600;
  }

  a {
    @apply hover:underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
}

@layer utilities {
  .devicon {
    @apply w-20 h-20;
  }
}
